<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Man collection</title>
</head>
<body>
    <div>
        <div style="">
            <ul style="background: black; border-radius: 5px 5px 5px 5px; width: auto; height: 50px;">
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:50px;">Main page</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:50px;">Man collection</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:50px;">Woman collection</a>
                </li>
                <li style="display:inline-block; float: right; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:50px;">Exit</a>
                </li>
                <li style="display:inline-block; float: right; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:50px;">Account</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <ul style="background: #313131; border-radius: 5px 5px 5px 5px; width: auto; height: 45px;">
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:45px;">Jackets</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:45px;">Sweaters</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:45px;">T-shirts</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:45px;">Jeans</a>
                </li>
                <li style="display:inline-block; vertical-align: middle;">
                    <a href="" style="text-decoration: none; color: white; margin-right: 55px; text-align:center; line-height:45px;">Shoes</a>
                </li>
            </ul>
        </div>
    </div>
    <div>

    </div>
</body>
</html>